<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/registerPhone.css">
  <title>회원가입 - 휴대전화</title>
  <script
    src="https://kit.fontawesome.com/3b8424c68a.js"
    crossorigin="anonymous"
  ></script>
  <script
    defer
    src="/javascripts/registerPhone/index.js"
    type="module"
  ></script>
</head>
<body>
  <div class="container">
    <header>
      <a class="left" href="/auth/registerTerms">
        <i class="fas fa-arrow-left"></i>
      </a>
        <div class="title">회원가입</div>
        <div class="right disabled">다음</div>
    </header>
    <main>
      <form action="/auth/registerPhone" method="POST">
        <div class="input-container">
          <label for="phone">
            휴대전화
            <div class="input-wrapper">
              <input
                id="phone" 
                type="text"
                maxlength="13"
                name="phone_number"
              >
              <div class="input-float-button-wrapper">
                <button type="button" id="phone-clear" class="input-icon">
                  <i class="fas fa-times-circle"></i>
                </button>
              </div>
            </div>
          </label>
        </div>
      </form>
      <button class="full-button" id="confirm-number-request">
        인증번호 받기
      </button>
    </main>
  </div>
</body>
</html>
