<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/registerTerms.css" />
    <title>회원가입 - 약관동의</title>
    <script
      src="https://kit.fontawesome.com/3b8424c68a.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      defer
      src="/javascripts/registerTerms/index.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="left">
          <a class="left--back-btn" href="/"><i class="fas fa-times"></i></a>
        </div>
        <div class="title">회원가입</div>
        <div class="right"></div>
      </header>
      <main>
        <div class="welcome-message">
          <p>어서 오세요</p>
          <p>약관 동의가 필요해요</p>
        </div>

        <form id="terms-container" class="terms-form" action="/auth/registerTerms" method="POST">
          <div class="check-container">
            <input type="checkbox" id="all-agree-checkbox" name="all-agree-checkbox" />
            <label for="all-agree-checkbox">전체 동의</label>
          </div>

          <hr />

          <div class="check-container">
            <input type="checkbox" id="terms-1"  name="terms_1" class="essential-terms" />
            <label for="terms-1">배달의 민족 이용약관 동의</label>
            <button class="check-container--detail-arrow">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>

          <div class="check-container">
            <input type="checkbox" id="terms-2" name="terms_2" class="essential-terms" />
            <label for="terms-2">전자금융거래 이용약관 동의</label>
            <button class="check-container--detail-arrow">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>

          <div class="check-container">
            <input type="checkbox" id="terms-3" name="terms_3" class="essential-terms" />
            <label for="terms-3">개인정보 수집이용 동의</label>
            <button class="check-container--detail-arrow">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>

          <div class="check-container">
            <input type="checkbox" id="option-terms-1" name="option_terms_1" />
            <label for="option-terms-1"
              >개인정보 제3자 제공 동의 (선택)</label
            >
            <button class="check-container--detail-arrow">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>

          <div class="check-container">
            <input type="checkbox" id="option-terms-2" name="option_terms_2" />
            <label for="option-terms-2"
              >마케팅 정보 메일, SMS 수신 동의 (선택)</label
            >
            <button class="check-container--detail-arrow">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>

          <hr />

          <div class="radio-container">
            <input type="radio" id="age-over-radio" name="age" value="over" checked>
            <label class="radio-container--label"  for="age-over-radio">
              <p class="radio-container--label--title"> 만 14세 이상입니다.</p>
             </label>
          </div>
          <div class="radio-container">
            <input type="radio" id="age-down-radio" name="age" value="down">

            <label class="radio-container--label" for="age-down-radio" >
              <p class="radio-container--label--title">만 14세 미만입니다.</p>
              <p class="radio-container--label--subtitle">
                본인확인이 된 보호자의 배민 계정이 필요해요
              </p>
            </label>
          </div>
          <% if (locals.errorMessage) { %>
            <span class="error-msg"><%= errorMessage %></span>
          <% } %>
          <input id="terms-submit-btn" type="submit" class="next-step-btn" value="다음으로" disabled>
        </form>
      </main>
    </div>
  </body>
</html>
