<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배달의 민족 - MY 배민</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script
      src="https://kit.fontawesome.com/3b8424c68a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <header class="underline">
        <div class="left"></div>
        <div class="title">My 배민</div>
        <div class="right"></div>
        <% if (isAuth) { %>
        <a class="logout-btn" href="/auth/logout">로그아웃</a>
        <% } %>
      </header>
      <main>
        <section>
          <div class="banner">
            <img alt="광고" src="/assets/images/banner.png" />
          </div>
          <% if (isAuth) { %>
          <button class="wide-button">
            <div class="wide-button__title-container row">
              <img
                class="user-icon"
                alt="user-icon"
                src="/assets/icons/user.png"
              />
              <h4 class="title big">
                귀한분,
                <span class="username"><%= nickname %></span>
              </h4>
            </div>
          </button>
          <% } else { %>
          <a class="wide-button" href="/auth/login">
            <div class="wide-button__title-container row">
              <img
                class="user-icon"
                alt="user-icon"
                src="/assets/icons/user.png"
              />
              <h4 class="title big">로그인해주세요</h4>
            </div>
            <div class="wide-button__icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </a>
          <% } %>
          <div class="grid-button-container">
            <div class="grid-button-row">
              <button class="grid-button">
                <img
                  alt
                  class="grid-button__icon"
                  src="/assets/icons/coin.png"
                />
                <div class="grid-button__text">포인트</div>
              </button>
              <button class="grid-button">
                <img
                  alt
                  class="grid-button__icon"
                  src="/assets/icons/coupon.png"
                />
                <div class="grid-button__text">쿠폰함</div>
              </button>
              <button class="grid-button">
                <img
                  alt
                  class="grid-button__icon"
                  src="/assets/icons/gift.png"
                />
                <div class="grid-button__text">선물함</div>
              </button>
            </div>
            <div class="grid-button-row">
              <button class="grid-button">
                <img
                  alt
                  class="grid-button__icon"
                  src="/assets/icons/heart.png"
                />
                <div class="grid-button__text">찜</div>
              </button>
              <button class="grid-button">
                <img
                  alt
                  class="grid-button__icon"
                  src="/assets/icons/receipt.png"
                />
                <div class="grid-button__text">주문내역</div>
              </button>
              <button class="grid-button">
                <img
                  alt
                  class="grid-button__icon"
                  src="/assets/icons/talk.png"
                />
                <div class="grid-button__text">리뷰관리</div>
              </button>
            </div>
          </div>
        </section>
        <section>
          <button class="wide-button">
            <div class="wide-button__title-container row">
              <img alt="icon" src="/assets/icons/sprout.png" />
              <h4 class="title green">일회용품 덜 쓰기, 함께해요!</h4>
            </div>
            <div class="wide-button__icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </button>
        </section>
        <section>
          <button class="wide-button">
            <div class="wide-button__title-container">
              <h4 class="title new">배민페이 등록</h4>
              <div class="subtitle">
                배민페이로 결제하면 최대 5.5% 배민포인트가 적립됩니다!
              </div>
            </div>
            <div class="wide-button__icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </button>
          <button class="wide-button">
            <div class="wide-button__title-container">
              <h4 class="title new">가족계정 관리</h4>
              <div class="subtitle">
                결제수단을 공유해 우리 가족의 끼니를 챙겨주세요.
              </div>
            </div>
            <div class="wide-button__icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </button>
          <button class="wide-button">
            <div class="wide-button__title-container">
              <h4 class="title">공지사항</h4>
            </div>
            <div class="wide-button__icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </button>
          <button class="wide-button">
            <div class="wide-button__title-container">
              <h4 class="title">배민커넥트 지원</h4>
            </div>
            <div class="wide-button__icon">
              <i class="fas fa-chevron-right"></i>
            </div>
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
