<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="left"></div>
        <div class="title">My 배민</div>
        <div class="right"></div>
      </header>
      <main>
        <section class="">
          <div class="banner">
            <img>
          </div>
          <button class="wide-button">
            <div class="wide-button__title-container row">
              <h4 class="title">로그인해주세요</h4>
            </div>
          </button>
          <div class="grid-button-container">
            <button class="grid-button">포인트</button>
            <button class="grid-button">쿠폰함</button>
            <button class="grid-button">선물함</button>
            <button class="grid-button">찜</button>
            <button class="grid-button">주문내역</button>
            <button class="grid-button">리뷰관리</button>
          </div>
        </section>
        <section class="">
          <button class="wide-button">
            <div class="wide-button__title-container row">
              <h4 class="title">일회용품 덜 쓰기 함께해요!</h4>
            </div>
            <div class="wide-button__icon"></div>
          </button>
        </section>
        <section class="">
          <button class="wide-button">
            <div class="wide-button__title-container">
              <h4 class="title">배민페이 등록</h4>
            </div>
            <div class="wide-button__icon"></div>
          </button>
          <button class="wide-button">
            <div class="wide-button__title-container">
              <h4 class="title">가족계정 관리</h4>
            </div>
            <div class="wide-button__icon"></div>
          </button>
          <button class="wide-button">
            <div class="wide-button__title-container">
              <h4 class="title">공지사항</h4>
            </div>
            <div class="wide-button__icon"></div>
          </button>
          <button class="wide-button">
            <div class="wide-button__title-container">
              <h4 class="title">배민커넥트 지원</h4>
            </div>
            <div class="wide-button__icon"></div>
          </button>
        </section>
      </main>
    </div>
  </body>
</html>
