@import url("common/reset.css");
@import url("common/mobile.css");

/* mobile.css override */
.container {
  background-color: white;
}

header > .left {
  font-size: 1rem;
}

.left--back-btn {
  text-decoration: none;
  color: black;
}
.left--back-btn:visited {
  color: black;
}

/* Style for Login */
main {
  box-sizing: border-box;
  height: calc(100vh - 50px);
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.login-form--id-input,
.login-form--pw-input {
  margin: 8px 0;
  padding: 12px 0;
  font-size: 0.5rem;
  font-weight: bold;
  border-style: none;
  border-bottom: 1px solid var(--sub-text-color);
  font-size: 0.75rem;
  color: var(--text-color);
}
.login-form--id-input::placeholder,
.login-form--pw-input::placeholder {
  color: var(--sub-text-color);
}

.login-form--id-input.error,
.login-form--pw-input.error {
  border-bottom: 1px solid var(--alert-color);
}

.login-form--id-warning-message,
.login-form--pw-warning-message {
  color: var(--alert-color);
  font-size: 0.8rem;
  visibility: collapse;
  text-align: center;
}

.login-form--id-warning-message.show,
.login-form--pw-warning-message.show {
  visibility: visible;
}

.login-form--submit-btn {
  padding: 12px 0;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  font-size: 1rem;
}

.auth-util {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.auth-util--find-id-link,
.auth-util--find-pw-link {
  font-size: 0.8rem;
  color: #c0c0c0;
  padding: 10px;
}

.split-line {
  content: "|";
  color: var(--sub-text-color);
  font-size: 0.8rem;
  padding: 10px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 12px;
  display: flex;
  justify-content: center;
}

.register-comment {
  font-size: 0.8rem;
  color: var(--sub-text-color);
}

.register-comment--link {
  text-decoration: none;
  margin-left: 6px;
  color: var(--main-color);
}

.login-form--result-msg {
  text-align: center;
  color: var(--pink-color);
  font-size: 0.8rem;
}
