@import url("common/reset.css");
@import url("common/mobile.css");

.container {
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  position: relative;
}

header .right {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--main-color);
}
header .disabled {
  color: var(--disabled-color);
  cursor: default;
}

main {
  padding: 20px 24px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  font-size: 0.75rem;
}
.input-container > label {
  vertical-align: top;
  color: var(--sub-text-color);
  transition: all 0.4s ease;
}
.input-container > label:focus-within {
  color: var(--text-color);
}
.input-container .input-row-button {
  padding: 6px 12px;
  border-radius: 5px;
  margin-left: 16px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  transition: all 0.4s ease;
  cursor: pointer;
}
.input-container .disabled {
  border: 1px solid var(--disabled-color);
  color: var(--disabled-color);
}
.input-container .error-message {
  margin-top: 6px;
  color: var(--alert-color);
  font-size: 0.5rem;
}

.input-wrapper {
  display: flex;
  margin-top: 8px;
  position: relative;
  flex: 1;
}
.input-wrapper > input {
  width: 100%;
  border-bottom: 1px solid var(--disabled-color);
  padding: 0 30px 6px 0;
  color: var(--text-color);
  transition: all 0.4s ease;
}
.input-wrapper > input:focus {
  border-bottom: 1px solid var(--text-color);
}
.input-wrapper > .input--error,
.input-wrapper > .input--error:focus {
  border-bottom: 1px solid var(--alert-color);
}

.input-float-button-wrapper {
  position: absolute;
  right: 0;
}
.input-float-button-wrapper i {
  font-size: 1rem;
  color: var(--sub-text-color);
}
.input-float-button-wrapper > .check-icon {
  font-size: 1rem;
  color: var(--main-color);
  margin-left: 8px;
}
.input-float-button-wrapper > button {
  font-size: 1rem;
  color: var(--main-color);
  cursor: pointer;
}

.row > .error-message {
  position: absolute;
  margin-top: 36px;
  color: var(--alert-color);
  font-size: 0.5rem;
}
