<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script
      src="https://kit.fontawesome.com/3b8424c68a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <script src="/javascripts/login/index.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="left">
          <!-- TODO: Back ICON -->
          <a class="left--back-btn" href="/"><i class="fas fa-times"></i></a>
        </div>
        <div class="title"></div>
        <div class="right"></div>
      </header>
      <main>
        <form class="login-form" action="/" method="GET">
          <input
            id="login-id-input"
            class="login-form--id-input"
            type="email"
            placeholder="아이디 또는 이메일"
          />
          <span class="login-form--id-warning-message"
            >아이디를 입력해주세요.</span
          >
          <input
            id="login-pw-input"
            class="login-form--pw-input"
            type="password"
            placeholder="비밀번호"
          />
          <span class="login-form--pw-warning-message"
            >비밀번호를 입력해주세요.</span
          >
          <button id="login-btn" class="login-form--submit-btn">로그인</button>
        </form>

        <div class="auth-util">
          <a class="auth-util--find-id-link">아이디 찾기</a>
          <span class="split-line"> | </span>
          <a class="auth-util--find-pw-link">비밀번호 찾기</a>
        </div>
      </main>
      <footer>
        <p class="register-comment">
          혹시 배달의 민족이 처음이신가요?
          <a class="register-comment--link" href="/auth/registerTerms"
            >회원 가입</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>
