<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/registerDetail.css" />
    <title>회원가입 - 세부정보</title>
    <script
      src="https://kit.fontawesome.com/3b8424c68a.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="/javascripts/registerDetail/index.js"
      type="module"
    ></script>
  </head>
  <body>
    <div class="container">
      <header>
        <a class="left" href="/auth/registerPhone">
          <i class="fas fa-arrow-left"></i>
        </a>
        <div class="title">회원가입</div>
        <div class="right disabled">완료</div>
      </header>
      <main>
        <form action="/auth/registerDetail" method="POST">
          <div class="input-container">
            <label for="email">
              이메일
              <div class="row">
                <div class="input-wrapper">
                  <input id="email" type="email" />
                  <div class="input-float-button-wrapper">
                    <button
                      id="email-clear"
                      class="input-icon"
                      type="button"
                    >
                      <i class="fas fa-times-circle"></i>
                    </button>
                  </div>
                </div>
                <button
                  id="validate-email"
                  class="input-row-button"
                  type="button"
                >
                  중복확인
                </button>
              </div>
            </label>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
